.Weather {
    background-color: #FEECEE;
    color: rgb(135,135,135);
    border: 1px solid #dadde1;
    padding: 16px;
    margin: 30px auto;
   font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, .08);

}
.Weather form {
    margin-bottom: 20px;
}
.Weather h1 {
    font-weight: 100;
    font-size: 24px;
   margin: 20px 0 0 0;
    line-height: 28px;
    
}
.Weather li {
font-size: 16px;
font-weight: 100;
line-height: 19px;
list-style: none;
}
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather canvas {

    margin-top: 5px;
  

}
.Weather .temperature {
    font-weight: bold;
    font-weight: 400;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    margin-left: 5px;
    margin-left: 10px;
    
}
.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -32px;
   
    line-height: 1;
}
